@import "variables";


footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 130px 150px;

    @include box-grey();

    .box-footer{
        width: 33%;

    }
    
    .nav{
        
        ul{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        a{
            @include font();
            color: $color-black;
            text-decoration: none;
        }
    }
    .right{
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: column;
        gap: 20px;

        img{
            width: 40px;
        }
    }

    .stars{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        align-items: center;
        

        .rating{
            display: flex;
            flex-direction: column;
            gap: 5px;
            

            p{
                @include font();
                margin: 0;
                font-size: 12px;
                padding: 0;
                
            }
            

            img{
                width: 150px;
            }


        }
        .plane{
            width: 100px;
        }
    }
}