@import "variables";


header{
    
    .rec{
        position: absolute;
        width: 80%;
        
        top: 5vh;
        left: 50%;
        transform: translate(-50%, 0);
        
        
    }

    nav{
        position: absolute;
        width: 80%;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        
        

    }

    ul{
        display: flex;
        padding: 50px 40px;
        flex-direction: row;
        list-style: none;
        justify-content: end;
        
        margin: 0;
        gap: 40px;

        li{
            img{
                width: 5px;
                position: relative;
                top: -5px;
            }
            a{
                @include font();
                text-decoration: none;
                color: $color-white;

                transition: all 0.1s ease-in-out;
                transform: scale(100%);
  
            }
            a:hover{
                transform: scale(200%);
            }
        }
    }
}

.burger {
    position: absolute;
    top: 70px;
    right: 90px;
    width: 28px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}

.burger span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* ----- État actif (croix) ----- */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
}
.point{
    display: block;
}
/* ----- Responsive : Mobile ----- */
@media (max-width: 768px) {

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 20px;
        
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    
        transform: translateY(-120%);
        transition: transform 0.3s ease-in-out;
    }

    .point{
        display: none;
    }

    nav ul.active {
        transform: translateY(0);
        
    }

    .burger {
        display: flex;
    }
}


