@import "variables";




header{
    margin: 0;
    background-image: url("./../img/HEADER-SAFARI.jpg");
    background-size: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    h1{
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        

        
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.35) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img{
        width: 100vw;
        height: auto;
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
    }
}


.direction{
    padding: 130px 0 130px 0;
    img{
        width: 100%;
        height: auto;
    }
}

.que-faire{
    padding: 130px 100px 130px 100px;

    .activities{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 90px;

        .activity{
            width: 300px;

            img{
                width: 100%;
                height: auto;
                margin-bottom: 0;
            }

            .text{
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    
}

button{
    color: $color-white;
    background-color: $color-orange;
    border-radius: 50px;
    border: none;
    padding: 15px 80px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    @include font();
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.1s ease-in-out;
}

button:hover{
    
    transform: scale(110%);
}



@mixin strong-word{
    color: $color-orange;
    text-align: right;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 137.5% */
    text-transform: uppercase;
}

@mixin strong-word2{
    color: $color-black;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}


h2{
    margin: 0;
}
h3{
    margin: 0;
    margin-bottom: 60px;
}

.include-price{
    display: flex;
    padding: 130px 0 130px 100px;
    margin-left: 100px;
    border-radius: 50px 0 0 50px;
    @include box-grey();



    h3{
        margin-bottom: 0;
    }

    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right{
        width: 50%;
        padding-right: 100px;
        img{
            width: 300px;
            height: auto;
        }

        .imgdiv{
            position: relative;
            display: flex;
            margin-top: 50px;
            justify-content: flex-end;
            
        }

        .img1{
            right: 0;
        }

        .img2{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, 50%);
        }
    }
}

#special-offer{
    display: flex;
    padding: 150px 0 130px 100px;
    padding: 130px 100px 0px 100px;
    border-radius: 50px 0 0 50px;
    

    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        p{
            margin: 0;
        }

        .sub-title{
            display: flex;
            gap: 20px;
            align-items: center;
            
        }

        .chiffre{
            @include strong-word();
        }

        .word{
            @include strong-word2();
        }

        .box-chiffre{
            display: flex;
            flex-direction: column;
            
        }
    }

    .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        button{
            margin-bottom: 100px;
        }
    }
}

#sejour{
    display: flex;
    padding: 150px 0 130px 100px;
    margin-right: 100px;
    margin-top: 100px;
    @include box-grey();
    border-radius: 0px 50px 50px 0px;
    gap: 200px;

    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        button{
            margin-top: 50px;
            width: fit-content;
        }
    }

    .right{
        width: 50%;
        .graph{
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        img{
            height: 100%;
            position: absolute;
            left: 40%;
            transform: translateX(-50%);
        }
        .days{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .day-box{
            display: flex;
            flex-direction: column;
            margin-left: 250px;
            width: 300px;
            p{
                margin-bottom: 0;
            }
            
            

            

            .day{
                @include font();
                font-weight: 600;
                
            }
            
        }
        .pair{
            text-align: end;
            margin-left: -120px;
        }
        
    }

}

footer{
    margin-top: 100px;
}

@media (max-width: 768px) {
    header { 
        h1{
            font-size: 100px;
            top: 150px;
        }
    }
}

@media (max-width: 1028px) {
    header{
        h1{
            font-size: 100px;
            top: 200px;
        }
        height: 500px !important;
    }

    .include-price{
        flex-direction: column;
        margin: 0;
        padding: 80px 100px 250px 100px;
        border-radius: 0;

        .right, .left{
            width: 100% !important;
            padding: 0;
        }

        .imgdiv{
            justify-content: center !important;
        }
    }
    #special-offer{
        flex-direction: column;
        margin: 0;
        padding: 80px 50px 250px 50px;
        border-radius: 0;

        .right, .left{
            width: 100% !important;
            padding: 0;
            padding-top: 100px;
            align-items: center;
        }


    }
    #special-offer .left .box-chiffre{
        width: 300px;
    }



    #sejour{
        flex-direction: column;
        margin: 0;
        padding: 80px 50px 250px 50px;
        border-radius: 0;

        .right, .left{
            width: 100% !important;
            padding: 0;
            padding-top: 100px;
            align-items: center;
        }


    }
}

@media (max-width: 768px) {
    header { 
        h1{
            font-size: 60px;
            top: 150px;
        }

        height: 400px !important;
    }

    h2{
        font-size: 24px !important;
        
    }

    h3{
        font-size: 20px !important;
        
    }

    .direction{
        padding: 80px 0px 40px 0px;
    }

    p{
        font-size: 14px !important;
    }

    .que-faire{
        padding: 80px 50px 40px 50px;

        .activities{
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .activity{
                width: 100% !important;

                .text{
                    height: auto !important;
                    padding: 0 10px;
                }
            }
        }
    }

    .include-price{
        flex-direction: column;
        margin: 0;
        padding: 80px 50px 250px 50px;
        border-radius: 0;

        .right, .left{
            width: 100% !important;
            padding: 0;
        }

        .imgdiv{
            justify-content: center !important;
        }
    }

}

