@import "variables";

header{
    background-color: red;
    margin: 0;
    background-image: url("./../img/HEADER-SAFARI.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    h1{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;

        @include h1-safari;
    }
    }