@import "variables";

header{
    
    margin: 0;
    background-image: url("./../img/headerpolynesie.jpg");
    background-size: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    h1{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 6%;
        
        
        background: linear-gradient(180deg, #58D4D7 0%, #FFF 99.52%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img{
        width: 100vw;
        height: auto;
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
    }
}

.cheminile {
    padding: 130px 0 130px 0;
    width: 100%;
    height: auto;
}

.que-faire-pol{
    padding-left: 94px;
}

h2{
    margin: 0px;
}
h3{
    margin: 0px;
    margin-bottom: 19px;
}
h4{
    margin: 0px;
}

li{
    list-style: none;
}

//pack1
.pack1{
    display: flex;
    flex-direction: row;
    gap: 95px;
    padding-top: 60px;
    background-color: $color-gray;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 58px;
}
.plongee{
    padding-left: 94px;
    width: 33%;
}
.baleine{
    width: 33%;
}
.snorkeling{
    width: 33%;
    
}

.fleurs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 30px;
}


//reponsive pack1

@media (max-width: 768px){
    
    .pack1{
        flex-direction: column;
        margin-right: 0; 
        border-radius: 0; 
        padding-top: 30px; 
        padding-bottom: 30px; 
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px; 
    }
    .plongee, .baleine, .snorkeling{
        width: 100%; 
        padding-left: 0; 
    }
    .fleurs{
        display: none;
    }
}


//pack2
.act-terre{
    padding-left: 94px;
}
.pack2{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    gap: 100px;
    background-color: $color-gray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 58px;
}
.safari4{
    padding-left: 40px;
    width: 33%;
}
.vanille{
    width: 33%;
}
.randos{
    width: 33%;
    padding-right: 93px;
}

//responsive pack2

@media (max-width: 768px){
    .act-terre{
        padding-left: 20px;
    }
    .pack2{
        flex-direction: column;
        margin-left: 0;
        padding-top: 30px; 
        padding-bottom: 30px; 
        padding-left: 20px; 
        padding-right: 20px; 
        gap: 30px; 
    }
    .safari4, .vanille, .randos{
        width: 100%; 
        padding-left: 0; 
        padding-right: 0;
    }
}


//offres

.offresej{
    padding-left: 94px;
    margin-top: 40px;
}

.bt1{
    border-radius: 50px;
    background-color: $color-blue2;
    height: 51px;
    margin-top: 0px;
    padding: 0 30px;
}

.offre1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 100px;
    p{
        margin: 0;
    }
    ul{
        padding: 0;
    }
}

.imgrom{
    width: 520px;
    height: 605px;
    padding-right: 47px;
    padding-left: 24px;
}

.offre2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 100px;
    p{
        margin: 0;
    }
    ul{
        padding: 0;
    }
}

.bt2{
    border-radius: 50px;
    background-color: $color-blue2;
    height: 51px;
    margin-top: 0px;
    padding: 0 30px;
}

.imgbleu{
    padding-left: 94px;
}

.dernier{
    margin-bottom: 80px;
}

//responsive offres

@media (max-width: 768px){
    .offresej {
        padding-left: 20px; 
        margin-top: 20px;
    }
    .offre1, .offre2{
        flex-direction: column; 
        padding: 30px 20px; 
    }
    .offre2{
        flex-direction: column; 
    }
    .imgrom, .imgbleu{
        width: 100%; 
        height: auto; 
        padding: 20px 0 0 0; 
    }
    .dernier {
        margin-bottom: 40px; 
    }
    
}

